{% extends 'base.html' %}
{% load crispy_forms_tags %}


<!-- the block content tags for containing content of the page -->
{%  block content %}
    
    <!-- to add item to the store -->
    <div class="bg-body-tertiary p-5 rounded">
        <h1>{{title}}</h1>
        <form method='POST' action='' class="uniForm">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Save</button>
            <a class="btn btn-outline-danger" style="margin-top: 10px;" href="/">Cancel</a>
        </form>
    </div>
{% endblock %}
    